* {
    padding: 0px;
}

.title {
    text-align: center;
    padding: 40px;
    transform: translateY(20px);
}

.prrfo {
    text-align: center;
}

.link-yt {
    text-align: center;
}

.backgr {
    padding: 0px;
    transform: translateY(-220px);
    size: 120%;
}

.dcs {
    text-align: center;
    transform: translateY(420px);
}

.p-brand {
    width: 60px;
    transform: translateY(130px);
    margin: 10xp;
}